.closeModal{
    text-align: right;
    
}

.closeModal img {
    width: 12px;
}

.charDetails{
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.charDetails img{
    width: 80px;
}

.charDetails h2{
    font-size: 16px;
    margin-bottom: 5px;
}

.charDetails p{
    font-size: 12px;
    font-style: italic;
    text-align: justify;
}

@media (min-width: 768px) {

    .charDetails p{
        max-width: 430px;
    } 
}

@media (min-width: 1024px) {

    .charDetails{
        flex-direction: row;
        justify-content: left;
        gap: 30px;
        padding: 0 107px;
    }

    .charDetails p{
        font-size: 15px;
    }

}