nav {
    padding: 32px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

a{
    background-color: var(--background2);
    /* background-color: tomato; */
    
    border-radius: 4px;

    font-size: 14px;
    padding: 8px 16px;

    cursor: pointer;
    transition: 0.2s;
}

a:hover{
    background-color: var(--blue);
    color: var(--white);
}

a:active{
    background-color: var(--blue-dark);
    color: var(--white);
}

.currentPage{
    background-color: var(--blue-dark);
    color: var(--white);
}
