.series{
    margin-top: 25px;
}

.series > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.series h2{
    font-size: 14px;
    color: var(--placeholder);
    margin-bottom: 10px;
}


.series .serieDetails{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    background-color: var(--background);
    border-radius: 4px;

    padding: 5px;
}

.serieDetails img {
    width: 90px;
    margin: 0 auto;
}

.serieDetails p{
    font-size: 12px;
}

@media (min-width: 768px) {
    .series{
        padding: 0 107px;
    }

    .serieDetails img {
        margin: 0 0;
    }

    .series .serieDetails{
        
        grid-template-columns: 1fr 2fr;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    .series > div{
        flex-direction: row;
    }

    .serieDetails img {
        width: 85px;
    }

    .series .serieDetails{
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }    
}

@media (min-width: 1440px) {
    .series .serieDetails{
        grid-template-columns: 1fr 2fr;
    }

    .serieDetails p{
        font-size: 15px;
    }

}