:root {
    --white: #fff;
    --background: #e5e5e5;
    --placeholder: #8e8e8e;
    --shadow: #00000033;
    --background2: #F5F5F5;
    --text: #555555;
    --blue-dark: #167abc;
    --blue: #4b9ed4;
}

* {
    font-family: 'PT Sans', sans-serif;
    color: var(--text);

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}
/* 
font-family: 'PT Sans Caption', sans-serif;
 */


button {
    cursor: pointer;
    border: none;
}

input:placeholder-shown {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li{
    list-style: none;
}

h1{
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.content{
    background-color: var(--background);

    padding: 25px 15px;
}

@media  (min-width: 1024px){
    h1{
        font-size: 32px;
        text-align: left;
    }

    .content{
        padding: 25px 110px;
    }
}

